@using StorageChallenge.Testing
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LODS Challenge</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("RealInfo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (TestType.TestStorage) {<li>@Html.ActionLink("File Test", "Files", "Home")</li>}
                    @if (TestType.TestRelational) {<li>@Html.ActionLink("Database Test", "Database", "Home")</li>}
                    @if (TestType.TestNoSQL) {<li>@Html.ActionLink("NoSQL Test", "NoSQL", "Home")</li>}
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Learn on Demand Systems LLC</p>
        </footer>
    </div>
    <div class="hidden">
       Test Status (blank is untested): @System.Web.HttpContext.Current.Cache["TestStatus"] 
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
